.main {
    padding: 2vw 0;
    margin: 0 auto;
    width: 85%;
    min-width: 600px;
}

.wrap {
    width: 100%;
}

.logo {
    width: auto;
    height: 80px;
}

.nav_link {
    padding: 5px;
    font-size: 20px;
}

.nav_link:hover {
    color: #a2a2a2;
}

.link {
    display: flex;
    color: var(--link);
    align-items: center;
}

.rating {
    text-align: center;
}

.link *:hover {
    color: white;
    transition: 0.2s;
}

.selected {
    color: rgb(255, 233, 147);
    animation: glowing-text 2s ease-in-out infinite alternate;
}

.matches table {
    width: 100%;
}

.tabs {
    margin: 3vw 0;
}

.overview {
    display: flex;
    justify-content: space-between;
}

.overview_matches {
    width: 100%;
}

.overview_heroes {
    margin-top: 30px;
    width: 100%;
}

.overview_players {
    width: 100%;
}

.hero_td {
    text-align: center;
    display: flex;
    flex-direction: row;
}

.hero_td p {
    margin-left: 5px;
    align-self: center;
}

.players_n_heroes {
    margin-left: 20px;
}

.heroes {
    width: 100%;
}

@keyframes glowing-text {
    0% {
        text-shadow: 0 0 5px #ffcf4f;
    }
    100% {
        text-shadow: 0 0 20px #ffcf4f;
    }
}

@media (max-width: 600px) {
    .main {
        min-width: 0;
        width: 100%;
        padding: 2vw;
    }

    .overview {
        flex-direction: column;
    }

    .overview_matches {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .tabs * {
        font-size: 4vw;
    }

    .tabs {
        margin: 30px 0;
    }
}
