button {
    font-size: 30px;
    background: none;
    border: none;
    margin: 20px 10px 0 10px;
    text-decoration-line: underline;
}

.table {
    margin: 0 auto;
}

.wr {
    font-size: 13px;
    color: #7b7b7b;
}

.hero {
    text-align: start;
}

.hero td:not(:first-child) {
    padding: 0 6vw;
}

.hero img {
    margin-right: 10px;
}

th:hover {
    color: #3f3f3f;

    transition: 0.2s;
}

.count {
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
}

.name {
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--link);
}

@media (max-width: 500px) {
    .table * {
        font-size: 3vw;
    }

    .table {
        margin: 0;
        width: 100%;
    }
}
