.logo {
    width: 40px;
    height: 40px;
}

.team_info {
    text-align: center;
    justify-content: left !important;
    padding: 0 !important;
    display: flex;
    flex-direction: row;
}

.team:hover {
    box-shadow: var(--box_shadow);
    transition: 0.2s;
}

.name_N_last_match {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    text-align: left;
}

.table {
    margin: 0 auto;
}

.no_name {
    color: #ff6b6b;
}

.link {
    color: var(--link);

}

.header {
    display: flex;
    width: 100%;
    justify-content: center;
}

.header img {
    margin-right: 20px;
    box-shadow: 0 0 30px rgba(255, 245, 245, 0.2);;
}

.win {
    background: linear-gradient(to right, rgba(20, 139, 20, 15%) 0%, rgba(129, 215, 129, 30%) 100%);
    display: table-row;
}

.lose {
    background: linear-gradient(to right, rgba(97, 14, 22, 0.15) 0%, rgba(255, 61, 61, 0.3) 100%);
    display: table-row;
}

.w {
    color: var(--radiant);
    text-shadow: 0 0 10px #9cda63, 0 0 20px #568e00;
    font-size: 20px;
}

.l {
    text-shadow: 0 0 10px red, 0 0 20px red;
    color: var(--dire);
    font-size: 20px;
}

@media (max-width: 475px) {
    .name_N_last_match {
        display: inline-block;
        width: 100px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .name_N_last_match *{
        width: 100px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
