.home {
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-align: start;
}


.patch_hero {
    margin-top: 20px;
}

.patch_hero h2 {
    text-transform: uppercase;
}

.li {
    text-align: start;
    margin: 10px 0 0 30px;
    width: 100%;
    list-style-type: circle;
}

.sparks {
    position: absolute;
    background-image: url("../../assets/imgs/backgrounds/rays.gif");
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
}

.title {
    width: 60vw;
    min-width: 600px;
    padding: 1vw 4vw;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
    overflow-x: auto;
    height: 88vh;
    margin-top: 10vh;
    justify-self: center;
    align-self: center;
    position: absolute;
    color: var(--goldColor);
    font-size: 20px;
    z-index: 1000;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Droid Sans", Ubuntu, Cantarell, "Fira Sans", Helvetica, Arial, sans-serif;
    background: rgba(0, 0, 0, 0.8);
}

.select {
    background-color: #3f3f3f;
    border: none;
    width: 200px;
    box-shadow: 0 0 10px rgba(255, 245, 245, 0.2);
    text-align: center;
    padding: 0.3vw;
    border-radius: .5em;
    -moz-appearance: none;
    position: absolute;
    left: 25%;
    right: 25%;
    margin: 0 auto;
    font-size: 20px;
    -webkit-appearance: none;
    appearance: none;
    opacity: 50%;
}

.select::-ms-expand {
    display: none;
}

.select:hover {
    opacity: 100%;
    border-color: #aaa;
    box-shadow: 0 0 20px rgba(255, 245, 245, 0.3);
    transition: 0.1s;
}

.select:focus {
    outline: none;
}

.socials {
    position: absolute;
    z-index: 1000;
    bottom: 0;
    width: 100%;
    justify-content: center;
}

.social img {
    width: 35px;
    margin: 10px;
}

.social img:hover {
    width: 40px;
    transition: 0.2s
}

.link {
    text-decoration-line: underline;
    font-size: inherit;
}

.patch_name {
    font-size: 35px;
    margin: 0 auto;
    text-align: center;
    color: var(--radiant);
}

.header {
    font-size: 30px;
    text-shadow: 0 0 15px #ffba00;
    margin-top: 40px;
    color: rgb(255, 255, 158);
}

.dota {
    z-index: -100;
    overflow: hidden;
    width: 110%;
    height: 115vh;
    background-image: url("../../assets/imgs/backgrounds/dota.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -5vw;
    transition: 0.1s;
}

@media (max-width: 600px) {
    .title {
        min-width: 0;
        width: 95%;
        align-self: center;
        justify-self: center;
        padding-right: 8vw;
        margin: 5vh auto 0 auto;
    }

    .select {
        margin: 2vw auto;
    }
}
