.match {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    height: max-content;
}

.main_info {
    width: 50%;
}

.extra_info {
    width: 50%;
    margin-left: 10vw;
}

.charts {
    width: 1000px;
    margin: 0 auto;
}

.charts * {
    color: black;
}

.team {
    display: block;
    margin: 0 auto;
    overflow-x: auto;
    table-layout: auto;
    white-space: nowrap;
    max-width: 95vw;
    justify-content: center;
}

.table_wrap {
    max-width: 1000px;
    margin: 0 auto;
}

.match_info {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
}

.match_id {
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px 0;
}

.match_info_numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
}

.radiant_score {
    color: var(--radiant);
    text-shadow: 0 0 10px #9cda63, 0 0 20px #568e00;
    font-size: 30px;
}

.dire_score {
    color: var(--dire);
    font-size: 30px;
    text-shadow: 0 0 10px red, 0 0 20px red;
}

.dire_team {
    color: var(--dire);
    text-shadow: 0 0 10px red, 0 0 20px red;
    padding: 1vw 0;
    font-size: 30px;
}

.radiant_team {
    text-shadow: 0 0 10px #9cda63, 0 0 20px #568e00;
    color: var(--radiant);
    padding: 1vw 0;
    font-size: 30px;
}

.abilities {
    display: block;
    margin: 30px auto;
    overflow-x: auto;
    table-layout: auto;
    white-space: nowrap;
    max-width: 95vw;
    justify-content: center;
}

.abilities td, th {
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0 0.2vw;
}

@media (max-width: 1000px) {
    .charts {
        width: auto;
        margin: 0;
    }
}
