.main {
    display: flex;
    justify-content: space-between;
    padding: 2vw;
    margin: 1vw 0;
}

.activity article {
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
}

.hero {
    width: 35px;
}

.dota_plus {
    position: absolute;
    width: 20px;
    margin-left: -25px;
    margin-top: 5px;
}

.wrap {
    display: flex;
    justify-content: space-between;
}

.wl {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 10px;
}

.profile {
    width: 90%;
    margin: 0 auto;
}

.name {
    font-size: calc(var(--index) * 2);
}

.rank {
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.rank img {
    width: 100px;
}

.rank_stars {
    position: absolute;
}

.rank_icon {
    margin-top: 20px;
}

.head_info {
}

.avatar_n_info {
    display: flex;
    flex-direction: row;

}

.avatar {
    margin-right: 2vw;
    width: 150px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(255, 245, 245, 0.2);;
}

.recent_matches {
    margin-right: 5vw;
    width: 100%;
}

.matches_wrap {
    width: 100%;
}

.peers {
    width: 100%;
}

.peers_n_heroes {
    margin-left: 20px;
}

.hero_td {
    width: 35px;
}

.heroes_header {
    margin-top: 15px;
}

.w {
    color: var(--radiant);
    text-shadow: 0 0 10px #9cda63, 0 0 20px #568e00;

    font-size: 20px;
}

.l {
    text-shadow: 0 0 10px red, 0 0 20px red;
    color: var(--dire);
    font-size: 20px;

}

.wl {
    font-size: 20px;
}

.win {
    background: linear-gradient(to right, rgba(20, 139, 20, 15%) 0%, rgba(129, 215, 129, 30%) 100%);
    display: table-row;
}

.lose {
    background: linear-gradient(to right, rgba(97, 14, 22, 0.15) 0%, rgba(255, 61, 61, 0.3) 100%);
    display: table-row;
}

.match {
    display: table-row;
}

.match:hover {
    box-shadow: var(--box_shadow);
    transition: 0.2s;
}

.played_heroes {
    margin-top: 1vw;
    float: right;
    width: 100%;
}

.last_visit {
    padding: 0 10px;
}

@media (max-width: 800px) {
    .avatar {
        width: 12vw;
        height: 12vw;
    }

    .wrap {
        flex-direction: column;
    }

    .recent_matches {
        margin: 0 auto;
    }

    .played_heroes {
        margin: 0 auto;
    }
}

@media (max-width: 450px) {
    .rank img {
        width: 70px;
    }
}
