.profile {
    display: flex;
    margin-bottom: 5px;
}

.profile_avatar {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.profile_name {
    font-size: 15px;
    color: var(--link);
}

.name__time {
    margin: auto 0;
}

.profile:hover p {
    color: #7b7b7b;
    transition: 0.2s;
}
